.navbar .navbar-nav .nav-link {
  color: #000;
  font-size: 1.1em;
  padding: 0.8em;
}
.navbar {
  border-bottom: 5px solid #3a0ca3;
}

.navbar .navbar-nav .nav-link.active {
  background-color: #3a0ca3;
  color: #fff;
}
@media screen and (min-width: 992px) {
  .navbar {
    padding: 0;
  }
}
@media screen and (max-width: 991px) {
  .navbar-nav {
    padding-top: 0.5em;
  }
}

.small-square-card {
    width: 100px; /* Ширина карточки */
    height: 100px; /* Высота карточки */
    border: 1px solid #ccc; /* Граница карточки */
    border-radius: 5px; /* Скругленные углы */
    margin: 10px; /* Отступ между карточками */
}
