{% extends 'base.html' %}

{% block title %}
Sign in
{% endblock  %}

{% block body %}
<div class="container mt-5">
<h1>Sign up</h1>
<form method="post" class="form-control">
    <input type="text" name="username" id="username" class="form-control" placeholder="Input username">
    <input type="text" name="name" id="name" class="form-control" placeholder="Input your name">
    <input type="text" name="password1" id="password1" class="form-control" placeholder="Input password">
    <input type="text" name="password2" id="password2" class="form-control" placeholder="Input password again">
    <button class="btn btn-success" type="submit">Add</button>
</form>
</div>
{% endblock  %}
